.hd {
    display: flex;
    justify-content: space-around;
    height: 30px;
}
.clock {
    margin-top: 0.5rem;
}
.notch {
    border-radius: 0 0 1rem 1rem;
    width: 250px;
    background-color: black;
}
.icon {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
